@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

nav ul li a:hover {
  -webkit-text-stroke-width: 0.5px;
}

.error-message {
  color: #ff0000;
  margin-top: 5px;
}

.custom_checkbox {
  accent-color: #B3B3B3 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}